{% extends "account/log_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

  <div class="col-md-6 align-self-center center-text">
    <img src="{% static 'images/logo.png' %}" width="200%">
    <!-- <p >A System for Preference Judgment</p> -->
  </div>
  <form class="login mb-3" method="POST" action="{% url 'account_login' %}" autocomplete="off">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-outline-primary btn-block" type="submit">{% trans "Sign In" %}</button>
    </form>
    <p class="text-left">{% blocktrans %}Click <a href="{{ signup_url }}">here</a> to make a new account. {% endblocktrans %}</p>

{% endblock %}

