body {
  font-family:  Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  /* font-family: "Open Sans", sans-serif; */
}

.container {
  width: 992px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS */
/* CSS */
.button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.4rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 15px;
}

.button:hover {
  background-color: rgb(249, 250, 251);
  border-color: #789395;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.absolute-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.btn-logout {
  font-size: 1rem;
}

.button:focus-visible {
  box-shadow: none;
}

/* CSS */
.button-start {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  /* font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif; */
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-start:hover,
.button-start:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}


.button-start:active {
  opacity: 0.5;
}

.select-container {
  position: relative;
  min-width: 300px;
  margin-right: 20px;
}

.select {
  position: relative;
  min-width: 400px;
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  -webkit-appearance: none;
  padding: 10px 40px 10px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.select select:hover + svg {
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.modal-sentence{
  margin-top: 10px;
  line-height: normal;
}

.modal-bold{
  font-weight: bold;
}