html {
  height: 100%;
}

body {
  font-family:  Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  /* font-family: "Open Sans", sans-serif; */
  height: 100%;
}

.main {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-home {
  width: 992px;
  height: calc(100vh - 70px);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  width: 300px;
  height: 300px;
}

.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.documents {
  display: flex;
  width: 100%;
  height: calc(100vh - 125px);
  justify-content: center;
  align-items: center;
}

.document-right{
  width: 50%;
  height: 100%;
  flex: 1;
  padding-right: 15px;
  padding-bottom: 35px;
  min-width: 90px;

  position: relative;
}

.document-left{
  padding-left: 15px;
  width: 50%;
  height: 100%;
  min-width: 90px;
  padding-bottom: 35px;
  position: relative;
}


.document-id {
  background: #c8cdc8;
  padding: 5px 10px;
  color: white;
  text-align: center;
  font: x-small;
}
.document:nth-child(2n) .document-id {
  border-left: 2px solid white;
}

.document-content {
  padding-left: 20px;
  padding-top: 10px;
  height: 100%;
  z-index: -1;
  overflow: auto; 
}

.document-content p{
  line-height:1.2;
  white-space: pre-wrap;
}
.document:nth-child(2n) .document-content {
  background: #f6f6f6;
}


.question {
  display: flex;
  justify-content: center;
  align-self: center;
  position:relative;
  left: 5%; 
  background: #d4dbd4;
  padding: 5px 5px;
  margin-left: 30dp;
  border-radius: 1ch;
}

.question p {
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 0.4rem 1rem;
  margin-right: 5px;
  justify-content: center;
  align-self: center;
}

.question button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.9rem;
  font-family:  Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: 300;
  line-height: 1.25rem;
  padding: 0.3rem 0.9rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 8px;
}

.button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.9rem;
  font-family:  Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.4rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 15px;
}

.button:hover {
  background-color: rgb(249, 250, 251);
  border-color: #789395;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 45px;
  text-align: center;
}

.prev-document {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  font-size: 0.86rem; 
}

.prev-document svg {
  margin-right: 5px;
}

.header-btn-container{
  display: flex;
  align-items: center;
}

.topic-info-button { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.86rem;
}



.question-header {
  width: 100%;
  justify-content: left;
  align-items: left;
  margin: 15px;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: bold;

}

.question-description {
  height: 100%;
  justify-content: left;
  align-items: left;
  margin: 10px;
  line-height: 1.4rem;
  line-height: normal;
  font-size: medium;
  overflow: scroll;
}

.question-header .q-indicator {
  margin-right: 4px;
  font-weight: 600;
}

:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}

.form-field {
  display: block;
  width: 100%;
  padding: 5px 10px;
  line-height: 23px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  margin-right: 30px;
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group {
  width: 100%;
  height: 100%;
  /* margin-left: 150px; */
  /* margin-right: 50px; */
  align-items: center;
}

.form-group .form-field {
  white-space: nowrap;
  display: block;
}

.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group .form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
} 


 .highlight {
  line-height:1.2;
  background-color: yellow;
  white-space: pre-wrap;

}
/* #left-doc::-moz-selection { Code for Firefox */
    /* background: yellow;
} */

/* #left-doc::selection {
    background: yellow;
}  */
      
* {
  box-sizing: border-box;
}

/* List of answer */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  line-height: 1.5;
  text-align: justify;
}

.best-answer-container {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.best-answer-container h2 {
  background: #789395;
  padding: 10px;
  color: white;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.best-answer-list {
  width: 500px;
  max-height: calc(100vh - 220px);
  overflow: auto;
}

.level-content {
  padding: 10px;
  margin-top: 10px;
}

.tree-header {
  text-align: center;
  width: 100%;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  /* margin-left: 100px; */
}

.tree-container {
  height: 100px;
  display: none;
}
.previous-action {
  margin: 10px;
  text-align: center;
}

.tree-content {
  height: 60px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  overflow: auto;
}

.home-header {
  width: calc(100% - 300px);
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-right: 60px;
  margin-left: 60px;
}

.home-message {
  margin-left: 50px;
  width: 100%;
  text-align: center;
}

.modal-sentence{
  margin-top: 10px;
  line-height: normal;
}


.tag-container {
  display: flex;
  margin: 10px 15px;
  height: 50px;
  background-color: #f6f4f2;
  padding: 10px;
  border-radius: 1ch;
}


.progress-txt{
  /* display: flex; */
  justify-content: center;
  align-self: center;
  padding: 10px 10px;
  margin-top: 5px;
  border-radius: 1ch;
  right: 5%;
  position: relative;
  font-weight: bold;
}

.progress-txt h3{
  
  font-size: 1.12rem;
  line-height: 1.12rem;
  padding: 0.4rem 1rem;
}

.logo{
  width: 60px;
  height: 60px;
}



.document:nth-child(2n) .document-title {
  border-left: 2px solid white;
}
.document-url {
  height: 40px;
  background: #aab7aa;  
  padding: 10px;
  color: black;
  text-align: left;
  font-size: 0.87rem;
  border-radius: 1ch;
  overflow: hidden;
}

.document:nth-child(2n) .document-url {
  border-left: 2px solid white;
}

.advance .tagify__tag{
  --tag-hover: var(--tag-bg);
}

.tagify{
  height: 100% !important; 
  width: 100% !important;
  overflow: auto !important;
  font-size: 0.65rem !important;
}
/* 
.highlighter {
  background:yellow;
} */

.dragbar {
  width:  15px;
  height: 100%;
  cursor: ew-resize;
  flex: 0 0 auto;
  background: #c3cbc3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1ch;
}

.dragbar-dot {
  width: 5px;
  height: 5px;
  border-radius: 9999px;
  background: white;
  margin-bottom: 10px;
}


.dropdown-toggle {
  margin-right: 10px !important;
  background-color: white !important;
}

.dropdown-menu-right{
  margin-right: 10px !important;

}

strong {
  position: relative;
  font-size: 0.9rem;
}

strong::before {
  background-color: #d4dbd4;

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}


.font-size-div {
  display: flex;
  align-items: center;
  right: 48%;
  position: absolute;
}

.font-size-div p{
  font-size: 1.2rem;
  font-family:  Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-color: #789395;
  border-color: #789395;
  margin: 3px;
}

.btn-circle:hover {
  background-color: darkslategrey;
}


.btn-success {
  color: #fff;
  background-color: #789395 !important;
  border-color: #889395 !important;
}

.editable-doc{
  height: 100%;
}

/* https://colorhunt.co/palette/fef5edd3e4cdadc2a999a799 */