html {
  height: 100%;
}

body {
  font-family:  Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  /* font-family: "Open Sans", sans-serif; */
  height: 100%;
}

.main {
  height: 100%;
}

.progress-container {
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.progress {
  width: 100%;
  height: 7px;
  background: #e1e4e8;
  border-radius: 0;
  overflow: hidden;
}
.progress .progress-bar {
  display: block;
  height: 100%;
  background: #ADC2A9;
  background-size: 300% 100%;
}

.progress-container h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  color: #ADC2A9;
  width: 50px;
  margin-left: -5px;
  margin-top: -12px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #94b49f;
  position: absolute;
  margin-left: 10px;
  margin-top: -18px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-home {
  width: 992px;
  height: calc(100vh - 70px);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  width: 300px;
  height: 300px;
}

.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.documents {
  display: flex;
  width: 100%;
  height: calc(100vh - 330px);
  justify-content: center;
  align-items: center;
}

.document {
  width: 50%;
  height: 100%;
  flex: 1;
}

.document-id {
  background: #c8cdc8;
  padding: 5px 10px;
  color: white;
  text-align: center;
  font: x-small;
}
.document:nth-child(2n) .document-id {
  border-left: 2px solid white;
}

.document-content {
  /* border: 1px solid #789395; */
  padding-left: 20px;
  height: 100%;
  overflow: auto;
  /* overflow-x: hidden; */
  
}

.document:nth-child(2n) .document-content {
  background: #f6f6f6;
}

.document-content p {
  /* width: 50%; */
  /* height: 100%; */
  line-height:1.2;
  /* display: block; */
  white-space: pre;
  /* text-align: justify; */

  /* line-height: 1.7;
  white-space: pre-line; */
}

.question {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 12px;
  /* border-radius: 10px 10px 0 0; */
  overflow: hidden;
}

.question p {
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0.4rem 1rem;
  margin-right: 20px;
}

/* CSS */
/* CSS */
.button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 1rem;
  font-family:  Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.4rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 15px;
}

.button:hover {
  background-color: rgb(249, 250, 251);
  border-color: #789395;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  text-align: center;
}

.prev-document {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.86rem; 
}

.prev-document svg {
  margin-right: 5px;
}

.question-header {
  /* display: flex; */
  justify-content: left;
  align-items: left;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 1.3rem;
  line-height: 1.1rem;
  font-weight: bold;

}

.question-description {
  /* display: flex; */
  height: 40px;
  justify-content: left;
  align-items: left;
  margin: 10px;
  margin-left: 20px;
  line-height: normal;
  font-size: small;
  overflow: scroll;
}

.question-header .q-indicator {
  margin-right: 4px;
  font-weight: 600;
}

:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}

.form-field {
  display: block;
  width: 100%;
  padding: 5px 10px;
  line-height: 23px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  margin-right: 30px;
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group {
  width: 100%;
  height: 100%;
  /* margin-left: 150px; */
  /* margin-right: 50px; */
  align-items: center;
  /* margin-bottom: 10px; */
  /* margin-top:10px; */
}

.form-group .form-field {
  white-space: nowrap;
  display: block;
}

.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group .form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}


.highlight {
  line-height:1.2;
  background-color: yellow;
  white-space: pre;

}
#left-doc::-moz-selection { /* Code for Firefox */
    background: yellow;
}

#left-doc::selection {
    background: yellow;
}
         
mark { 
  background-color: rgb(239, 132, 223) !important; 
  color: black !important;
}



.session-name {
  margin-bottom: 10px;
  font-size: 30px;
}


/* List of answer */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  line-height: 1.5;
  text-align: justify;
}

.best-answer-container {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.best-answer-container h2 {
  background: #789395;
  padding: 10px;
  color: white;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.best-answer-list {
  width: 500px;
  max-height: calc(100vh - 220px);
  overflow: auto;
}

.level-content {
  padding: 10px;
  margin-top: 10px;
}

.tree-header {
  text-align: center;
  width: 100%;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  /* margin-left: 100px; */
}

.tree-container {
  height: 100px;
  display: none;
}
.previous-action {
  margin: 10px;
  text-align: center;
}

.tree-content {
  height: 60px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  overflow: auto;
}

.home-header {
  width: calc(100% - 300px);
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-right: 60px;
  margin-left: 60px;
}

.home-message {
  margin-left: 50px;
  width: 100%;
  text-align: center;
}

.modal-sentence{
  margin-top: 10px;
  line-height: normal;
}


.question-container {
  display: flex;
  margin: 5px;
  margin-top: 2px;
  margin-bottom: 15px;
  height: 90px;
}

.question-body{
  width: 80%;
  height: 100%;
  margin: 5px;
  border-radius: 1ch;
  text-align: left;
  background-color: #f6f4f2;

}
.question-tag{
  
  width: 20%;
  height: 100%;
  background-color: #f6f4f2;
  margin: 5px;
  padding: 10px;
  border-radius: 1ch;

}
.logo{
  width: 60px;
  height: 60px;
}


.document-title {
  height: 50px;
  background: #99A799;
  padding: 10px;
  /* font-weight: bold; */
  color: black;
  text-align: left;
  align-items: left;
  font-size: medium;
  overflow: auto;
}

.document:nth-child(2n) .document-title {
  border-left: 2px solid white;
}
.document-url {
  height: 45px;
  background: #b3bab3;  
  padding: 10px;
  color: black;
  text-align: left;
  font-size: small;
  overflow: auto;
}

.document:nth-child(2n) .document-url {
  border-left: 2px solid white;
}

.advance .tagify__tag{
  --tag-hover: var(--tag-bg);
}

.tagify{
  height: 100% !important; 
  width: 100% !important;
  overflow: auto !important;
  font-size: small !important;
}

.highlighter {
  background:yellow;
}
/* https://colorhunt.co/palette/fef5edd3e4cdadc2a999a799 */