{% load i18n static has_group crispy_forms_tags  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/judgment-reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/judgment-main.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    
    
    <div class="main">
        <div class="header">
        <form method='post'>
            {% csrf_token %}
                 

        </form> 
            <div class="question-header">
                <h2 class="q-indicator">Question:</h2>
                <h2>{{ question_content }}</h2>
            </div>
            <div></div>
        </div>


        <div class="best-answer-container">
            
            <h2>Best answers!</h2>
            <div class="best-answer-list">
            {% for k, documents in answer_list.items %}
                <div class="level-content">
                    <p>Level {{ k }}</p>
                </div>
                {% for document in documents %}
                    <div>
                        <button class="collapsible"> {{ document.uuid }}</button>
                        <div class="content">
                        <p>{{ document.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
                
            </div>
            <div class="question">
                <p>Back to homepage</p>
                <form method='post' >
                    {% csrf_token %}
                    <div class="answer-box">
                        <button class="button" type="submit" value="home" name="home">Home</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>
    

    
    <!-- JavaScript Block -->
    <script> 
    
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        } 
    });
    }
    </script>
</body>
</html>