{% load i18n static has_group crispy_forms_tags   %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    
    
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

    <script type="text/javascript" src="{% static 'js/text_coloring.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="{% static 'css/judgment-reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/judgment-main.css' %}" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <title>{{ topic.title }}</title>
</head>
<body>
    
    <div class="loading-indicator"> 
        <div class="lds-ring"><div></div><div></div><div></div><div></div>
        </div> 
        Judgment is loading ...
    </div>
    
    <div class="main">
        <div class="header">
            <div class="header-btn-container">
                <form method='post' action="{% url 'judgment:judgment'%}">
                    {% csrf_token %}            
                    <button class="button prev-document" type="submit" value="prev" name="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
                        </svg>
                        Undo
                    </button>
                </form> 
                <div class="question">
                    <p>Preference:</p>
                        <div class="answer-box">
                            <form method='post'>
                                {% csrf_token %}
                                <button class="button btn-action" type="submit" value="left" name="left">Left</button>
                                <button class="button btn-action" type="submit" value="equal" name="equal">Equal</button>
                                <button class="button btn-action" type="submit" value="right" name="right">Right</button>
                                <div class="safe-overlay"></div>
                            </form>  
                        </div>
                </div> 
                
            </div>

            <div class="font-size-div">
                <button id="decrase-btn" class="btn btn-primary btn-circle">-</button>
                <p> A </p>
                <button id="increase-btn" class="btn btn-primary btn-circle">+</button>
            </div>

            <div class="header-btn-container">

                <div class="progress-txt">
                    <h3><strong>Progress: {{ progress_bar_width }}% </strong></h3>
                </div>
                
                <button class="button topic-info-button" id="topic_info_li">
                    <h3>Topic Information</h3>
                </button>
                
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="30px" height="30px"><path d="M2 11H22V13H2zM2 5H22V7H2zM2 17H22V19H2z"/></svg>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item"><a href="{% url 'core:home' %}">Home</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-item"><a href="{% url 'account_logout' %}">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tag-container">
            <input name='tags_words' value="{{ highlights }}">
        </div>


        <div id="debug-div"class="tree-container">
            <div class="previous-action">
            <b>Previous action</b>: {{previous_action}}
            </div>
            <div class="tree-content">
                {{ tree_content}}
            </div>
        </div>

            
        <div class="documents" id="wrapper">
            <div class="document-left" id="drag-left">
                <div class="docment-header"> 
                    <h2 class="document-url">
                        <a href="{{doc_left.url}}" target=”_blank” rel="noopener noreferrer">
                            {{doc_left.url}}
                        </a>
                    </h2>
                </div>
                {% autoescape off %}
                <div class="document-content"><p id="left-doc" class="editable-doc">{{left_txt}}</p>
                </div>
                {% endautoescape %} 
                
            </div>

            <div class="dragbar" id="dragbar">
                <span class="dragbar-dot"></span>
                <span class="dragbar-dot"></span>
                <span class="dragbar-dot"></span>
            </div>

            <div class="document-right" id="drag-right">
                <div>
                    <h2 class="document-url">
                        <a href="{{doc_right.url}}" target=”_blank” rel="noopener noreferrer">{{doc_right.url}}</a>
                    </h2>
                    
                </div>
                {% autoescape off %}
                <div class="document-content"><p id="right-doc" class="editable-doc">{{right_txt}}</p>
                </div>
                {% endautoescape %} 

            </div>
        </div>
    </div>
    

    <!-- COMPLETE TASK MODAL -->
    <div class="modal fade" id="ccomplete-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <h3>This task is DONE!</h3>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form method='post'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-block" name="back_home">
                                Home
                        </button>
                    </form>
                    </div>
                </div>
        </div>
    </div>
    
    <!-- TOPIC INFO MODAL -->
    <div class="modal fade" id="topic-info-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <div class="question-header">
                        {{ topic.title }}
                    </div>
                    <div class="question-description">
                        {{ topic.description }}
                    </div>
                    
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                        <button type="submit" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
        </div>
    </div>



    <!-- JavaScript Block -->
    <script>

        // Safari Djago problem is solved!
        setInterval(function() {
            $('.safe-overlay').addClass("invisible")
        }, 50)

        $('form').submit(function(e){
            
            $('.loading-indicator').addClass('visible');
        });

        var left_highlights = "{{ highlight_left_txt }}".split("||")
        var right_highlights = "{{ highlight_right_txt }}".split("||")
        var left_highlight_list = []
        var right_highlight_list = []
        
        for(i=0;i < left_highlights.length;i++){
            if(left_highlights[i] != "None" && left_highlights[i] != ""){
                var temp = left_highlights[i].split(",")
                left_highlight_list.push([Number(temp[0]), Number(temp[1]), temp[2]])
            }  
        }


        for(i=0;i < right_highlights.length;i++){
            if(right_highlights[i] != "None"  && right_highlights[i] != ""){
            
            var temp = right_highlights[i].split(",")
            right_highlight_list.push([Number(temp[0]), Number(temp[1]), temp[2]])
            }
        }
        
        var raw_tags = "{{ highlights }}".split(",")
        var tags_dic = {}

        for(let i=0; i < raw_tags.length; i++){
            tags = raw_tags[i].split("|")
            if (tags[0] !==""){
                tags_dic[tags[0]] = tags[1]
            }
        }
        

        $("#left-doc").html(
            get_cooked_text($("#left-doc").text(), tags_dic, left_highlight_list)
        );
            
        $("#right-doc").html(
            get_cooked_text($("#right-doc").text(), tags_dic, right_highlight_list)
        );

        $(function (){


            $('.nav').hide(); 
            $('.menu-btn').click(function (){ 
                $('.nav').toggle(300);
            });
        });

      function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };

        history.pushState(null, null, location.href);
        window.onpopstate = function () { history.go(1); };

        
      function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                    const cookies = document.cookie.split(";");
                    for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        mouseXPosition = 0;
        $(document).ready(function () {
            
            const debug = "{{debug}}"
            if(debug=="true"){
                $("#debug-div").show();
            }

            const task_status = "{{task_status}}"
            if(task_status=="complete"){
                $("#ccomplete-modal").modal({backdrop: 'static', keyboard: false});
            }

            $('#topic_info_li').on('click', function() {
                $('#topic-info-modal').modal();
            });
            
            var font_size = "{{font_size}}"
            if (font_size !== ""){
                document.getElementById("left-doc").style.fontSize = font_size;
                document.getElementById("right-doc").style.fontSize = font_size;
            }

        });
        

        $(".button").click( function(e3){
            var right_doc_highlights = "";
            var left_doc_highlights = "";
            

            for (i=0; i< left_highlight_list.length;i++){
                left_doc_highlights += left_highlight_list[i] +"||"
            }
            
            for (i=0; i< right_highlight_list.length;i++){
                right_doc_highlights += right_highlight_list[i] +"||"
            }
            

            var data = {"highlight": left_doc_highlights}
            $.ajax
            ({ 
                url: "/../../add_highlight/" + getCookie("left_doc_id") + "/" ,
                data: JSON.stringify(data),
                method: 'PUT',

                credentials: "same-origin",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: function(result)
                {
                    console.log(result)
                },
                error: (error) => {
                    console.log(error)
                },
            });
            var data = {"highlight": right_doc_highlights}

            $.ajax
            ({ 
                url: "/../../add_highlight/" + getCookie("right_doc_id") + "/" ,
                data: JSON.stringify(data),
                method: 'PUT',

                credentials: "same-origin",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: function(result){
                    console.log(result)
                },
                error: (error) => {
                    console.log(error)
                },
            });
            

            var element = document.getElementById("left-doc");
            style = window.getComputedStyle(element, null).getPropertyValue('font-size');
            currentSize = parseFloat(style);
            var font_size = (currentSize) + 'px';

            var data = {"font_size": font_size}
            $.ajax
            ({ 
                url: "/../../update_font_size/" + getCookie("task_id") + "/"  ,
                data: JSON.stringify(data),
                method: 'PUT',

                credentials: "same-origin",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: function(result)
                {
                    console.log(result)
                },
                error: (error) => {
                    console.log(error)
                },
            });
        })


        function manage_tags(search_area, tag, action, highlight_list){
            
            var textarea = $(search_area);    
            
            if(action=='add'){
                tags = tag.split("|")
                tags_dic[tags[0]] = tags[1]
            }
            if(action=='del'){
                tags = tag.split("|")
                delete tags_dic[tags[0]]
            }
            
            var cooked_text = get_cooked_text(textarea.text(), tags_dic, highlight_list)
            textarea.html(cooked_text);
        }


        // TAGIFY
        var input = document.querySelector('input[name=tags_words]'),
        tagify = new Tagify(input, {
            transformTag        : transformTag,
            placeholder         : "Search keywords",
            blacklist           : ["mark", "span", "style", "background", "class"]
            
        })
        
        const colorGlobalList = [
            "#fb8072","#80b1d3", "#fdb462", "#b3de69", "#fccde5",
            "#fbb4ae", "#b3cde3", "#ccebc5", "#decbe4", "#fed9a6",
            "#e5d8bd", "#fddaec", "#8dd3c7", "#bebada", "#bc80bd",
            "#35978f", "#dfc27d", "#d8daeb", "#3288bd", "#fee08b",
        ]
        

        // generate a random color (in HSL format, which I like to use)
        function getTagColor(tag){

            var randomColor
            var tagColorDic = localStorage['colorDic']
            var colorList = localStorage['colorList']
            tagLower = tag.toLowerCase()

            
            if (tagColorDic==null){
                tagColorDic = {}
            }else{
                tagColorDic = JSON.parse(tagColorDic);
            }
            if(colorList==null){
                colorList = colorGlobalList
            }else{
                colorList = JSON.parse(colorList);
            }

            if (tagLower in tagColorDic){
                randomColor = tagColorDic[tagLower]
            }else{
                randomColor = colorList.shift()
                tagColorDic[tagLower] = randomColor

                localStorage['colorList'] = JSON.stringify(colorList);
                localStorage['colorDic'] = JSON.stringify(tagColorDic);
            }
            if (randomColor == null){
                // After 20 tags we use a constant color
                randomColor = "#fa9fb5";
            }
            return randomColor
            
        }

        function transformTag( tagData ){
            
            var tags = tagData["value"].split("|")
            if (tags.length > 1) {
                tagData.color = tags[1].replaceAll(".",",");
                tagData.value = tags[0];
                const value = tagData.value +"|"+tagData.color
            
                manage_tags("#left-doc", value, 'add', left_highlight_list)
                manage_tags("#right-doc", value, 'add', right_highlight_list)
            } else{
                tagData.color = getTagColor(tags[0]);
            }
            
            tagData.style = "--tag-bg:" + tagData.color;

        }

        tagify.on('add', function(e, tagData){

            const value = e.detail["data"]["value"] + "|" + e.detail["data"]["color"]

            const data ={
                tags:value
            } 
            var put_url = "/../../add_tag/" + getCookie("task_id") + "/" 
            fetch(put_url, {
                method: "PUT",
                credentials: "same-origin",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({payload: data})
            })
            .then(response => 
                response.json()
            )
            .then(data => {
                manage_tags("#left-doc", value, 'add', left_highlight_list)
                manage_tags("#right-doc", value, 'add', right_highlight_list)
            });
        })


        tagify.on('remove', function(e){            
            const value = e.detail["data"]["value"] + "|" + e.detail["data"]["color"]
            
            const data ={
                tags:value
            }

            var put_url = "/../../remove_tag/" + getCookie("task_id") + "/" 
            fetch(put_url, {
                method: "PUT",
                credentials: "same-origin",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({payload: data})
            })
            .then(response => response.json())
            .then(data => {
                manage_tags("#left-doc", value, 'del', left_highlight_list)
                manage_tags("#right-doc", value, 'del', right_highlight_list)
            });
        })

        
        // New Highlighting Method!

        function empty_selection(){
            if (window.getSelection) {
                if (window.getSelection().empty) { 
                    window.getSelection().empty();
                } else if (window.getSelection().removeAllRanges) {  
                    window.getSelection().removeAllRanges();
                }    
            } else if (document.selection) { 
                document.selection.empty();
            }
        }

        var target = ""
        $(".editable-doc").mousedown(function (e1) {
            if (e1.target.id=="left-doc" || e1.target.parentNode.id=="left-doc"){
                target = "#left-doc"
            }
            if (e1.target.id=="right-doc" || e1.target.parentNode.id=="right-doc"){
                target = "#right-doc"
            }
        });

        $(".editable-doc").mouseup(function (e2) {
            
            var target2 = ""
            if (e2.target.id=="left-doc" || e2.target.parentNode.id=="left-doc" ){
                target2 = "#left-doc"
            }
            if (e2.target.id=="right-doc" || e2.target.parentNode.id=="right-doc"){
                target2 = "#right-doc"
            }

            if (target2 != target){
                empty_selection()
                return;
            }

            var selection = window.getSelection();
            var selectedText = selection.toString();

            var endpos = getCaretCharacterOffsetWithin(e2.target.parentNode);
            console.log(endpos-selectedText.length, endpos)
            
            if (endpos-selectedText.length != endpos){  
                var cooked_text = ""
                if(target2=="#right-doc"){
                    right_highlight_list = update_highlight_list(right_highlight_list, endpos-selectedText.length, endpos)
                    cooked_text = get_cooked_text(e2.target.parentNode.textContent, tags_dic, right_highlight_list)
                }
                if(target2=="#left-doc"){
                    left_highlight_list = update_highlight_list(left_highlight_list, endpos-selectedText.length, endpos)
                    console.log(left_highlight_list)
                    cooked_text = get_cooked_text(e2.target.parentNode.textContent, tags_dic, left_highlight_list)
                }
                $(target2).html(cooked_text)    

            }
            empty_selection()            
        });

        

    // // DragBar
        var left = document.getElementById('drag-left');
        var bar = document.getElementById('dragbar');
        var isHandlerDragging = false;

        var handler = document.querySelector('.dragbar');

       
        document.addEventListener('mousedown', function(e) {
            if (e.target === handler) {
                isHandlerDragging = true;
                return;
            }
        });

        document.addEventListener('mousemove', function(e) {
            if (!isHandlerDragging) {
                return false;
            }
            document.selection ? document.selection.empty() : window.getSelection().removeAllRanges();
            left.style.width = (e.pageX - bar.offsetWidth / 2)+ 'px';

        });

        document.addEventListener('mouseup', function(e) {
            isHandlerDragging = false;
        });


        // FONT CHANGE
        $("#increase-btn").click(function(){
            changeFontSize(1, "left-doc");
            changeFontSize(1, "right-doc");
        })

        $("#decrase-btn").click(function(){
            changeFontSize(-1, "left-doc");
            changeFontSize(-1, "right-doc");
        })

        function changeFontSize(direction, element){
            var element = document.getElementById(element);
            style = window.getComputedStyle(element, null).getPropertyValue('font-size');
            currentSize = parseFloat(style);
            element.style.fontSize = (currentSize + direction) + 'px';
        }

    // Minimpa :))))))))))))))))))))
    // https://codepen.io/shshaw/pen/wGPpqL  ==> doesn't work


    function getCaretCharacterOffsetWithin(element) {
        var caretOffset = 0;
        var doc = element.ownerDocument || element.document;
        var win = doc.defaultView || doc.parentWindow;
        var sel;
        if (typeof win.getSelection != "undefined") {
            sel = win.getSelection();
            if (sel.rangeCount > 0) {
            var range = win.getSelection().getRangeAt(0);
            var preCaretRange = range.cloneRange();
            preCaretRange.selectNodeContents(element);
            preCaretRange.setEnd(range.endContainer, range.endOffset);
            caretOffset = preCaretRange.toString().length;
            }
        } else if ((sel = doc.selection) && sel.type != "Control") {
            var textRange = sel.createRange();
            var preCaretTextRange = doc.body.createTextRange();
            preCaretTextRange.moveToElementText(element);
            preCaretTextRange.setEndPoint("EndToEnd", textRange);
            caretOffset = preCaretTextRange.text.length;
        }
        return caretOffset;
    }

        function alertTime(){
            ms = 5*60*1000 //5 minutes
  
            counter = setInterval(popup,ms);
        }
        
        function popup(){
            $.ajax
            ({ 
                url: "/../../popup_alert/" + getCookie("task_id") + "/",
                method: 'POST',

                credentials: "same-origin",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: function(result)
                {
                    console.log(result)
                },
                error: (error) => {
                    console.log(error)
                },
            });
            clearInterval(counter);
            if (confirm("You have taken more than 5 minutes judging these two documents. Press 'Ok' if you would like to continue judging. Press 'Cancel' if you would like to take a break and log out.")){
                alertTime();
            } else {
                window.location.href = "{% url 'account_logout' %}";
            }
        }

        $(document).ready(function () {
            alertTime();
        });
        
        
    </script>
</body>
</html>


<!-- http://jsfiddle.net/3t8n0s5v/ -->